body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #11d217;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 2rem;
    max-width: 600px;
    margin: auto;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form label, form input, form select {
    display: block;
    margin: 1rem 0;
}

button {
    background-color: #11d217;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0f9914;
}

#resultado {
    margin-top: 2rem;
    padding: 1rem;
    background: #eaeaea;
    border-radius: 4px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 10px;
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 12px; /* Tamaño más pequeño */
}
